body{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    
    line-height: 23px;
}
.maincontent{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: medium;
    background-color: rgb(226, 223, 223);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
   
    
}
.photo-of-owner
{
  width: 80%;
  border: 2px solid white;
  border-radius: 30px;
  box-shadow: 12px 12px 12px 12px rgb(179, 157, 157);


}
.block_biography{
    display: flex;
    width: 100%;
    margin: 6% 0px;
    justify-content: space-around;
   
}


.photo-container{
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
   
    width: 30%;
    
}
.block_story{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    align-items: center;
   

}

strong{
    font-size: 20px;
    margin-bottom: 3%;
    border-bottom: 4px solid rgb(2, 37, 2);
}

@media screen and (max-width:650px)
{
    .block_story{
  
    width: 70%;
    text-align: left;
    

}
.photo-container{
   
    width: 60%;
}
.photo-of-owner
    {
    
    width: 80%;
    
    }

}
@media screen and (max-width:500px)
{
    .block_story{
        font-size: 13px;
        text-align: center;


    }
}

@media screen and (max-width:800px)
{
.block_biography{
   
    flex-direction: column;
    align-items: center;
}

}