
body{
    display:flex;
    grid-template-columns: 1fr;
    flex-direction: column;
    
    padding: 0px;
    margin: 0px;
   

}
main{
   background-color: rgb(226, 223, 223);
   box-sizing: border-box;
   
   
   
   
}
.faq_container{
   display: flex;
   flex-direction: column;
   align-items: center;
   
}
.faq-item{
display: flex;
flex-direction: column;
border: black 1px solid;
margin-bottom: 20px;
border-radius: 20px;
width: 60%;
padding: 2px;
background-color:#3CBC8D;

}
.faq_answer{
max-height: 0px;
overflow: hidden;
background-color:rgb(138, 178, 192);

transition: 600ms;
border-radius: 10px;

}
.faq_answer li{
font-size:2.7vh;
}
.faq_answer p{
font-size: 2.7vh;
}


.faq-item:target .faq_answer{
max-height: 20rem;
}

.faq-item p
{
font-size: 18px;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}
.faq_question{
   color: black;
}
.faq_question:hover{
background-color: rgb(48, 158, 94);
border-radius: 10px;
}
#h1{
display: flex;
justify-content: center;
text-align: center;
margin: 5% 0px;
}

.question{
 color: black;
 border-radius: 20px;
}  

@media screen and (max-width:500)
{
   .faq-item{
   width: 80%;
   }
}
