*{
    font-weight: bold;
     list-style: none;
 }
 body{
     margin: 0px;
     padding: 0px;
     display: flex;
     flex-direction: column;

 }
 .myworks{
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: rgb(226, 223, 223);
 }
 .list-of-works{
    
     display: flex;
     margin-bottom: 4%;
     flex-direction: column;
     align-items: center;
 }
 .myworks-introduction{
     display: flex;
     flex-flow: column;
     text-align: center;
     margin: 5% 0px;
     border-bottom: 5px solid brown;


 }
 .block-myworks{
     display: flex;
     width: 70%;
     margin: 3% 0px;
     border-radius: 50px;
     justify-self: center;
     justify-content: space-between;
     align-items: center;
     box-shadow: 12px 12px 2px 1px rgba(52, 52, 92, 0.2);
     border: solid 1px rgb(119, 241, 119);
     background-color:#3CBC8D;
 }
 .block_photo{
     display: flex;
     width: 50%;
     border-radius: 50px;
     border: 3px solid  #3CBC8D;
     margin-left: auto;
 }
 .block_title{
     margin: 1%;
     padding: 5%;
     font-size: 1.1rem;
     color: rgb(1, 1, 19);
     text-align: center;
     font-family: Georgia, 'Times New Roman', Times, serif;
 }



 @media screen and (max-width:600px)
 {
     .block-myworks
     {
         flex-direction: column;
         border-radius: 10px;
         align-items: center;
     }
     .block_photo
     {
     width: 40%;
     align-self: center;
     margin-left: 30%;
     border-radius: 30px;
     }
     .block_title
     {
         font-size: 12px;
     }
 }

 @media screen and (max-width:750px)
{
 
 .block_title{
     font-size:1rem ;
 }    
}